.task-grid {
  display: flex;
  justify-content: center;
}

.tasks-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
  width: 100%;
  padding: 16px;
}

/* CARD */
.task-card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px #0002;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

/* Conteúdo do card */
.task-content {
  flex: 1;
}

/* Botões */
.task-actions {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.task-actions .btn {
  flex: 1;
  padding: 6px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.task-actions .edit {
  background: #007bff;
  color: white;
}

.task-actions .delete {
  background: #dc3545;
  color: white;
}
.btn-create {
  background: #5b42f3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s;
}

.btn-create:hover {
  background: #462bcf;
}
